<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
    <title>{% block title %}templates/stat_info.html{% endblock %}</title>
</head>
<body>

<div id="content">
    {% block content %}
        Welcome!
    is_authenticated : {{ is_auth }}

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. Thanks for logging in.</p>


<img src="http://127.0.0.1:7080/render/?width=586&height=308&_salt=1360765266.241&from=-30minutes&target=carbon.agents.debiangraph-a.cache.queries" alt >

	{% else %}
        <p>Welcome, new user. Please log in.</p>
    {% endif %}
    {% endblock %}
</div>

</body>
</html>
